<div class="row login">
  <div class="m-0 p-0 d-flex flex-column bg-purple col-12 col-lg-7">
    <div class="col-12 mt-5 d-flex justify-content-center">
      <h1 class="title">Framebook</h1>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mx-5 mt-5">
      <div class="mb-3">
        <parcel [config]="config" [customProps]="parcelProps" [mountParcel]="mountRootParcel"></parcel>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control {{ loginForm.controls?.password?.errors && loginForm.controls?.password?.touched ? 'is-invalid' : '' }}" id="floatingPassword" formControlName="password">
        <label for="floatingPassword">Senha</label>
      </div>
      <div>
        <a href="" class="mt-4 small">Esqueceu sua senha?</a>
      </div>
      <div class="mt-5 d-flex align-items-baseline justify-content-between">
        <a href="/#/cadastro" class="color-green small">Criar conta</a>
        <button type="submit" class="button w-50">Entrar</button>
      </div>
    </form>
  </div>
  <div
    class="
      d-none d-lg-flex
      justify-content-center
      align-items-centerS
      m-0
      p-0
      col-sm-5
    "
  >
    <div class="background"></div>
  </div>
</div>
